<div class="center jumbotron">
  <h1>Добро пожаловать в Simple App</h1>

  <h2>
    это домашняя страница для социальной сети <a href="http://method.kz/">курса по
    Ruby on Rails</a>.
  </h2>

  <%= link_to "Регистрация", signup_path, class: "btn btn-lg btn-primary" %>
</div>
